akinator.py
telethon
setuptools
wheel
aiofiles
aiohttp
apscheduler
cairosvg
cloudscraper
colour
covid
cowpy
dataclasses
DateTime
fontTools
python-dotenv
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0-rc1
git+https://github.com/buddhhu/img2html.git
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/sandy1709/py-googletrans
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
IMDbPY
jikanpy
justwatch
lottie
lyricsgenius
markdown
markdown-it-py
motor
moviepy
nekos.py
Pillow
prettytable
psutil
psycopg2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
pyTelegramBotAPI==3.7.7
pytz
qrcode
randomstuff.py
regex
requests
search-engine-parser
selenium
ShazamAPI
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
telethon-session-sqlalchemy
telethon-tgcrypto
urlextract
validators
vcsi
wand
wikipedia
wget
youtube_dl
youtube-search
youtube-search-python==1.4.9
yt_dlp
