telethon
telethon-session-sqlalchemy
setuptools
wheel
aiofiles
aiohttp
akinator.py
apscheduler
cairosvg
cinemagoer
cloudscraper
colour
covid
cowpy
dataclasses
DateTime
fontTools
python-dotenv
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
IMDbPY
jikanpy
justwatch
lottie
lxml
lyricsgenius
markdown
markdown-it-py
motor
moviepy
nekos.py
openai
Pillow
prettytable
psutil
psycopg2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
pytube
python-barcode
pyTelegramBotAPI==3.7.7
pytz
qrcode
randomstuff.py
regex
requests
selenium
ShazamAPI
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph==2.1.0
telethon-tgcrypto
urlextract
user_agent
validators
vcsi
wand
wikipedia
wget
youtube_dl
youtube-search
youtube-search-python==1.6.1
yt-dlp==2023.02.17

git+https://github.com/Jisan09/search-engine-parser
git+https://github.com/buddhhu/img2html.git
git+https://github.com/sandy1709/py-googletrans
